In [0]:
from pyspark.sql import SparkSession,DataFrame
from pyspark.sql.functions import when, col
import pandas as pd
def extract_spark():
    url="https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/college-majors/grad-students.csv"
    file_path="data/grad-students.csv"
    spark = SparkSession.builder.appName("grade_student").getOrCreate() # start spark
    # spark_data = spark.read.csv(file_path) # load as csv
    df=pd.read_csv(url)
    spark_df = spark.createDataFrame(df) 
    # To avoid mismatch between the schema of the existing 
    # Delta table and the DataFrame I am trying to append
    spark.sql("DROP TABLE IF EXISTS grade_student_delta")
    spark_df.write.format("delta").mode("append").saveAsTable("grade_student_delta")
    
    return file_path

In [0]:
extract_spark()

'data/grad-students.csv'

In [0]:
def data_transform(table="grade_student_delta"):
    # Initialize Spark session
    spark = SparkSession.builder.appName("grade_student").getOrCreate()

    # Define STEM categories
    core_STEM = [
        'Engineering',
        'Computers & Mathematics',
        'Biology & Life Science',
        'Physical Sciences'
    ]

    other_STEM = [
        'Agriculture & Natural Resources',
        'Health',
        'Interdisciplinary'
    ]
    
    # Load the table into a DataFrame
    sparktable = spark.table(table)
    
    # Add the "STEM_major" column based on conditions
    sparktable = sparktable.withColumn(  # Use sparktable, not table
        "STEM_major",
        when(col("Major_category").isin(core_STEM), "core_STEM")
        .when(col("Major_category").isin(other_STEM), "other_STEM")
        .otherwise("Other")
    )

    # Display the transformed DataFrame
    sparktable.show()

    # Return the transformed DataFrame
    return sparktable.columns

In [0]:
spark = SparkSession.builder.appName("grade_student").getOrCreate()
data_transform(table="grade_student_delta")
spark.sql("SELECT * FROM grade_student_delta LIMIT 2").show()

+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+----------+
|Major_code|               Major|      Major_category|Grad_total|Grad_sample_size|Grad_employed|Grad_full_time_year_round|Grad_unemployed|Grad_unemployment_rate|Grad_median|Grad_P25|Grad_P75|Nongrad_total|Nongrad_employed|Nongrad_full_time_year_round|Nongrad_unemployed|Nongrad_unemployment_rate|Nongrad_median|Nongrad_P25|Nongrad_P75| Grad_share|Grad_premium|STEM_major|
+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+----------+
|      5601|CONSTRUCTION SERV...|Industrial Arts &...|      9173|             200|         7098|                     6511|            681|           0.087543386|    75000.0|   53000|110000.0|        86062|           73607|                       62435|              3928|              0.050660992|       65000.0|      47000|    98000.0| 0.09631963| 0.153846154|     Other|
|      6004|COMMERCIAL ART AN...|                Arts|     53864|             882|        40492|                    29553|           2482|           0.057755852|    60000.0|   40000| 89000.0|       461977|          347166|                      250596|             25484|              0.068385885|       48000.0|      34000|    71000.0|0.104419773|        0.25|     Other|
|      6211|HOSPITALITY MANAG...|            Business|     24417|             437|        18368|                    14784|           1465|           0.073866788|    65000.0|   45000|100000.0|       179335|          145597|                      113579|              7409|              0.048422938|       50000.0|      35000|    75000.0| 0.11983686|         0.3|     Other|
|      2201|COSMETOLOGY SERVI...|Industrial Arts &...|      5411|              72|         3590|                     2701|            316|           0.080901178|    47000.0|   24500| 85000.0|        37575|           29738|                       23249|              1661|              0.052899774|       41600.0|      29000|    60000.0|0.125878193| 0.129807692|     Other|
|      2001|COMMUNICATION TEC...|Computers & Mathe...|      9109|             171|         7512|                     5622|            466|           0.058410629|    57000.0|   40600| 83700.0|        53819|           43163|                       34231|              3389|              0.072800309|       52000.0|      36000|    78000.0|0.144752733| 0.096153846| core_STEM|
|      3201|     COURT REPORTING| Law & Public Policy|      1542|              22|         1008|                      860|              0|                   0.0|    75000.0|   55000|120000.0|         8921|            6967|                        6063|               518|              0.069205077|       50000.0|      34000|    75000.0|0.147376469|         0.5|     Other|
|      6206|MARKETING AND MAR...|            Business|    190996|            3738|       151570|                   123045|           8324|           0.052059489|    80000.0|   50000|120000.0|      1029181|          817906|                      662346|             45519|              0.052719113|       60000.0|      40000|    91500.0|0.156531388| 0.333333333|     Other|
|      1101|AGRICULTURE PRODU...|Agriculture & Nat...|     17488|             386|        13104|                    11207|            473|            0.03483833|    67000.0|   41600|100000.0|        89169|           71781|                       61335|              1869|              0.025376782|       55000.0|      38000|    80000.0|0.163964859| 0.218181818|other_STEM|
|      2101|COMPUTER PROGRAMM...|Computers & Mathe...|      5611|              98|         4716|                     3981|            119|           0.024612203|    85000.0|   56000|114000.0|        28314|           22024|                       18381|              2222|              0.091643983|       60000.0|      40000|    85000.0|0.165394252| 0.416666667| core_STEM|
|      1904|ADVERTISING AND P...|Communications & ...|     33928|             688|        28517|                    22523|            899|           0.030561599|    60000.0|   43000| 90000.0|       163435|          127832|                      100330|              8706|              0.063762469|       51000.0|      37800|    78000.0|0.171906588| 0.176470588|     Other|
|      6005|FILM VIDEO AND PH...|                Arts|     24525|             370|        19059|                    13301|           2035|           0.096472931|    57000.0|   40000| 80000.0|       116158|           93915|                       63674|              8160|               0.07994122|       50000.0|      32000|    75000.0|0.174328099|        0.14|     Other|
|      5701|ELECTRICAL, MECHA...|Industrial Arts &...|      3187|              45|         1984|                     1481|            319|            0.13851498|    62000.0|   40000|100000.0|        14842|           11921|                        9949|               653|              0.051932559|       50000.0|      32400|    75000.0|0.176770758|        0.24|     Other|
|      2504|MECHANICAL ENGINE...|         Engineering|      6065|             111|         4442|                     3669|            310|            0.06523569|    78000.0|   50000|103000.0|        27999|           23069|                       20418|               998|               0.04146757|       61000.0|      42000|    85000.0|0.178047205| 0.278688525| core_STEM|
|      1903|          MASS MEDIA|Communications & ...|     42915|             828|        35939|                    28054|           1957|           0.051641334|    57000.0|   41000| 90000.0|       190020|          153722|                      117581|             12816|               0.07695541|       50000.0|      35000|    72000.0|0.184235946|        0.14|     Other|
|      5901|TRANSPORTATION SC...|Industrial Arts &...|     27410|             538|        20035|                    18088|            980|           0.046633357|    90000.0|   62000|124000.0|       121260|           94538|                       80650|              4326|               0.04375708|       69000.0|      45000|   100000.0|0.184368063| 0.304347826|     Other|
|      2107|COMPUTER NETWORKI...|Computers & Mathe...|     11165|             218|         9037|                     7988|            803|           0.081605691|    80000.0|   54000|110000.0|        48776|           41552|                       34402|              2476|               0.05623694|       58000.0|      37700|    84000.0|0.186266495| 0.379310345| core_STEM|
|      6299|MISCELLANEOUS BUS...|            Business|     22553|             408|        17691|                    14807|            865|            0.04661565|    75000.0|   47000|106000.0|        95860|           72005|                       58441|              3694|              0.048798531|       55000.0|      38000|    85000.0|0.190460507| 0.363636364|     Other|
|      2599|MISCELLANEOUS ENG...|         Engineering|     14816|             315|        12433|                    11146|            407|           0.031697819|    80000.0|   54000|105000.0|        60571|           50092|                       44199|              3316|              0.062088077|       65000.0|      43000|    90000.0|0.196532559| 0.230769231| core_STEM|
|      2503|INDUSTRIAL PRODUC...|         Engineering|     19885|             408|        14752|                    12467|            603|           0.039270596|    84500.0|   60000|111000.0|        81076|           64389|                       56559|              3431|              0.050589797|       70000.0|      48000|    99000.0|0.196957241| 0.207142857| core_STEM|
|      6099|MISCELLANEOUS FIN...|                Arts|      1733|              27|         1100|                      770|             44|           0.038461538|    55000.0|   40000| 76000.0|         7044|            5220|                        3556|              1001|              0.160906607|       46000.0|      30000|    60000.0|0.197447875| 0.195652174|     Other|
+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+----------+
only showing top 20 rows

+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+
|Major_code|               Major|      Major_category|Grad_total|Grad_sample_size|Grad_employed|Grad_full_time_year_round|Grad_unemployed|Grad_unemployment_rate|Grad_median|Grad_P25|Grad_P75|Nongrad_total|Nongrad_employed|Nongrad_full_time_year_round|Nongrad_unemployed|Nongrad_unemployment_rate|Nongrad_median|Nongrad_P25|Nongrad_P75| Grad_share|Grad_premium|
+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+
|      5601|CONSTRUCTION SERV...|Industrial Arts &...|      9173|             200|         7098|                     6511|            681|           0.087543386|    75000.0|   53000|110000.0|        86062|           73607|                       62435|              3928|              0.050660992|       65000.0|      47000|    98000.0| 0.09631963| 0.153846154|
|      6004|COMMERCIAL ART AN...|                Arts|     53864|             882|        40492|                    29553|           2482|           0.057755852|    60000.0|   40000| 89000.0|       461977|          347166|                      250596|             25484|              0.068385885|       48000.0|      34000|    71000.0|0.104419773|        0.25|
+----------+--------------------+--------------------+----------+----------------+-------------+-------------------------+---------------+----------------------+-----------+--------+--------+-------------+----------------+----------------------------+------------------+-------------------------+--------------+-----------+-----------+-----------+------------+

In [0]:
def load_sql(table="grade_student_delta"):
    spark = SparkSession.builder.appName("grade_student").getOrCreate()
    
    try:
        # Run the SQL query
        query_result = spark.sql(f"""
            SELECT 
                Major_category,
                SUM(Nongrad_employed) AS Total_Nongrad_employed,
                SUM(Grad_employed) AS Total_Grad_employed,
                SUM(Grad_unemployed) AS Total_Grad_unemployed,
                SUM(Nongrad_unemployed) AS Total_Nongrad_unemployed,
                SUM(Grad_total) AS Total_Grad_total,
                SUM(Nongrad_total) AS Total_Nongrad_total
            FROM {table}
            GROUP BY Major_category
            HAVING Total_Grad_employed + Total_Nongrad_employed > 10000
            ORDER BY Total_Grad_employed + Total_Nongrad_employed DESC
        """)
        
        # Check if the result is empty
        if query_result.count() > 0:
            return query_result
        else:
            print("No results found for the query.")
            return None
    
    except Exception as e:
        print(f"Error executing SQL query: {e}")
        return None

In [0]:
query_result=load_sql(table="grade_student_delta")
query_result.show()

+--------------------+----------------------+-------------------+---------------------+------------------------+----------------+-------------------+
|      Major_category|Total_Nongrad_employed|Total_Grad_employed|Total_Grad_unemployed|Total_Nongrad_unemployed|Total_Grad_total|Total_Nongrad_total|
+--------------------+----------------------+-------------------+---------------------+------------------------+----------------+-------------------+
|            Business|               7123852|            2124495|               101994|                  393222|         2718897|            9345634|
|           Education|               2659824|            2437166|                66938|                  111875|         3945300|            4488291|
|Humanities & Libe...|               2289696|            1986572|                85033|                  154239|         2825975|            3448921|
|         Engineering|               2483802|            1634563|                65073|                  132162|         2132524|            3382085|
|              Health|               2058011|            1148800|                25962|                   63621|         1468337|            2768323|
|      Social Science|               1720445|            1381570|                60528|                  111390|         1839710|            2439689|
|Psychology & Soci...|               1271014|            1255928|                49428|                   87224|         1630545|            1795602|
|Biology & Life Sc...|                831399|            1365336|                32022|                   44656|         1656556|            1145597|
|Computers & Mathe...|               1332370|             716607|                29062|                   70960|          919817|            1676169|
|Communications & ...|               1285961|             368390|                17733|                   86476|          462880|            1635679|
|                Arts|               1194452|             422450|                24559|                   88900|          580416|            1657523|
|   Physical Sciences|                656340|             770365|                24030|                   34404|         1052485|             952098|
|Industrial Arts &...|                680035|             239338|                 8983|                   33771|          317219|             939696|
| Law & Public Policy|                664417|             224832|                10011|                   36224|          280852|             831050|
|Agriculture & Nat...|                453541|             179287|                 4995|                   16437|          241342|             599239|
|   Interdisciplinary|                 32600|              12708|                  261|                    2573|           14405|              41018|
+--------------------+----------------------+-------------------+---------------------+------------------------+----------------+-------------------+